doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Palauta salasana
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href=root+'/css/login.css')
    script
      | var SERVER_ROOT = "#{root}";
    
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src=root+'/js/forgotpassword.js')
  body
    div(class='container')
    
      div(class='panel panel-default')
        div(class='panel-heading') 
          h3
            span(class='glyphicon glyphicon-log-in')
            | &nbsp;Palauta salasana
        div(class='panel-body')
          div
            div(class='form-group')
              label(for='usernameInputField', class='sr-only') Email
              div(class='input-group')
                span(class='input-group-addon glyphicon glyphicon-user')
                input(name='email', type='email', class='form-control', id='user-email-input-field', placeholder='Kirjatumiseen käyttämäsi sähköposti')
            button(id='send-password-reset-req', class='btn btn-warning btn-lg', type='button') Palauta salasana
        div(class='alert-container')