doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Vaihda salasana
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href=root+'/css/login.css')
    
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  body
    div(class='container')
    
      div(class='panel panel-default')
        div(class='panel-heading') 
          h3 
            span(class='glyphicon glyphicon-log-in')
            | &nbsp;Vaihda salasana
        div(class='panel-body')
          form(role='form', action=root+'/setpasstoken', method='post')
            input(type='hidden', name='token', value=token)
            div(class='form-group')
              label(for='password-input-field-1') Salasana
              div(class='input-group')
                span(class='input-group-addon glyphicon glyphicon-lock')
                input(name='pass' type='password', class='form-control', id='password-input-field-1', placeholder='')
            div(class='form-group')
              label(for='password-input-field-1') Toista salasana
              div(class='input-group')
                span(class='input-group-addon glyphicon glyphicon-lock')
                input(name='pass2', type='password', class='form-control', id='password-input-field-2', placeholder='')
            button(class='btn btn-warning btn-lg') Vaihda salasana