
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   background-image: url("/img/main-background-slice.png");
   background-position: left top;
   background-repeat: repeat-x;
   background-color:#F6FCFF;
}


.form-container{
   box-shadow:  0 0 8px 0 rgba(102, 175, 233, 0.1);    
}

.form-horizontal .form-group{
  margin-left:auto;
  margin-right:auto;
}

.form-group{
  margin-bottom:30px;
  
}
input.form-control, textarea.form-control, select.form-control{
  border:2px solid #dadada; 
}
.header{
  height:100px;
  background-image: url("/img/logo_otavanopisto.png"),url("/img/karuselli_nettilukio_400x400.png") ;
  background-position: left 10px bottom 10px, right 10px bottom 10px;
  background-size: 200px auto, 80px 80px;
  background-repeat: no-repeat, no-repeat;
}
.form-container{
  background-color:#fff;
  padding:0;
}
.form-title{
  background-color:#489bc4;
  padding:10px;
}
.form-title h3{
  color:#fff;
  margin-bottom:0;
  margin-top:0;
}
.help-block{
  font-weight:600;
}

input.validating:required:invalid, input:focus:invalid {
  border:2px solid #ff7640;
}
input:required:valid {
  border:2px solid #9cf3c7; 
}
textarea.validating:required:invalid, input:focus:invalid {
  border:2px solid #ff7640;
}
textarea:required:valid {
  border:2px solid #9cf3c7; 
}
select.validating:required:invalid, input:focus:invalid {
  border:2px solid #ff7640;
}
select:required:valid {
  border:2px solid #9cf3c7; 
}
.parentInfo,
.currentSchoolContainer,
.additionalActivityInputContainer,
.prevCollegeInfoContainer,
.additionalPrevStudyContainer {
  display: none;
}
.error-container {
  color:#ff7640;
}